/* Mobile*/

@media (max-width: 677px){
  
}

/* Tablet*/
@media (min-width: 678px) and (max-width: 1439px){

}

/* Desktop*/

@media (min-width: 1440px){
  #about {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
  }
  #foto {
    width: 150px;
    height: 150px;
    background-color: black;
  }
}