/* Mobile*/

@media (max-width: 677px){
  
}

/* Tablet*/
@media (min-width: 678px) and (max-width: 1439px){

}

/* Desktop*/

@media (min-width: 1440px){
  #navbar {
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: #2C3333;
    color: #E7F6F2;
  }

  #span-navbar {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4vw;
  }
  #navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 100%;
  }
  .li {
    list-style: none;
    font-size: 1.2vw;
  }

  #nav-container hr {
    color: rgb(99, 130, 255);
    border: solid 1px rgb(99, 130, 255);
  }
}